:root{
  --dark: #101627;
  --darkSecondary: #4C4E57;
  --light: #FFFFFF;
  --background: #FDFDFF;

  --pink: #F5004E;

  --borderColor: #E0E1E3;
  --borderColorActive: #cecdcd;
  --borderRadius: .25rem;

  --buttonHeight: 3rem;
}

*{
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-family: 'Figtree', 'Helvetica Neue', sans-serif;
}

body{
  background: var(--background);
}

input{
  border: none;
  outline: none;
  background: none;
}

button{
  border: none;
  outline: none;
  background: none;

  cursor: pointer;
  transition: opacity .2s ease;
}
button:hover{
  opacity: .8;
}
button:active{
  opacity: .6;
}

.content_container{
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
}

.row{
  display: flex;
  align-items: center;
}

.content_container .main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-top: 7.5rem;
}
.content_container .main h1{
  font-size: 1.75rem;
  font-weight: 700;
}
.content_container .main p{
  font-size: 1rem;
  font-weight: 400;
  color: var(--darkSecondary);
  margin-top: .75rem;
}

.content_container .search{
  display: flex;
  align-items: stretch;
  width: 100%;

  margin-top: 4rem;
}
.content_container .search input{
  flex: 1;
  background: var(--light);
  border: .1rem solid var(--borderColor);
  border-radius: var(--borderRadius);
  height: calc(var(--buttonHeight) - .15rem);
  padding: 0 1.5rem;

  font-size: 0.9rem;
  font-weight: 300;

  transition: border-color .2s ease;
}
.content_container .search input:focus, .content_container .search input:hover{
  border-color: var(--borderColorActive);
}
.content_container .search button {
  height: var(--buttonHeight);
  width: 6rem;
  background: var(--pink);
  border-radius: var(--borderRadius);
  margin-left: .5rem;
}
.content_container .search button svg{
  width: 1.2rem;
  height: 1.2rem;
}
.content_container .search button svg path{
    fill: var(--light);
}

.content_container .divider{
  width: 100%;
  height: .1rem;
  background: var(--borderColor);
  margin: 4rem 0;
}


.item{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;

  cursor: pointer;
}

.item .image{
  height: 5rem;
  aspect-ratio: 16/9;
  background: var(--borderColor);
  border-radius: var(--borderRadius);
  margin-right: 1.5rem;
}
.item .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--borderRadius);
}

.item .information{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item .information h2{
  font-size: 1rem;
  font-weight: 600;
}
.item .information p{
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--darkSecondary);
  margin-top: .4rem;
}

.item .buttons{
  display: flex;
  align-items: center;
}
.item .buttons button{
  width: 2.3rem;
  height: 2.3rem;
  border: .1rem solid var(--borderColor);
  border-radius: 999rem;
}
.item .buttons button:nth-child(2){
  margin-left: .5rem;
}
.item .buttons button svg{
  width: 0.9rem;
  height: 0.9rem;
}
.item .buttons button svg path{
  fill: var(--darkSecondary);
}

.content_container .submit{
  width: 100%;
  margin-top: 4rem;
}
.content_container .submit button{
  width: 100%;
  height: 3rem;
  background: var(--pink);
  border-radius: var(--borderRadius);
}
.content_container .submit button p{
  font-size: 0.9rem;
  color: var(--light);
  font-weight: 500;
}